# Python modules needed when building B3 packages

# help updaing version number
-e git+https://github.com/peritus/bumpversion.git#egg=bumpversion

# build tools
pip>=1.4
setuptools>=0.9
wheel>=0.21
cx_Freeze==4.3.3
pyyaml

# popular 3rd party plugins requirements to be included in the frozen builds
uuid          # metabans ggcstream and telnet plugins