# Python modules needed when building B3 packages

# build tools
cx_Freeze
pyyaml
pip

# popular 3rd party plugins requirements to be included in the frozen builds
uuid          # metabans ggcstream and telnet plugins