#  _                   _                       _______ _____  __  __
# | |                 | |                     |__   __|  __ \|  \/  |
# | |__   __ _ _ __ __| | ___  ___  _ __ ___     | |  | |  | | \  / |
# | '_ \ / _` | '__/ _` |/ __|/ _ \| '__/ _ \    | |  | |  | | |\/| |
# | | | | (_| | | | (_| | (__| (_) | | |  __/    | |  | |__| | |  | |
# |_| |_|\__,_|_|  \__,_|\___|\___/|_|  \___|    |_|  |_____/|_|  |_|
#


vars.autoBalance true
vars.friendlyFire true
vars.killCam false
vars.miniMap true
vars.hud false
vars.3dSpotting false
vars.miniMapSpotting true
vars.nameTag false
vars.3pCam false
vars.regenerateHealth false
vars.vehicleSpawnAllowed true
vars.soldierHealth 60
vars.playerRespawnTime 100
vars.playerManDownTime 100
vars.bulletDamage 100
vars.onlySquadLeaderSpawn true

MP_001 TeamDeathMatch0 1
MP_003 TeamDeathMatch0 1
MP_007 TeamDeathMatch0 1
MP_011 TeamDeathMatch0 1
MP_012 TeamDeathMatch0 1
